1-Lenguaje_de_marcas/UT6_DTD-XSD/ejercicios/UT6-XSD_materiales1_RMD/okej6/ej6.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="prenda" type="tipoPrenda"/>
    <xs:complexType name="tipoPrenda">
        <xs:simpleContent>
            <xs:extension base="xs:string">
                <xs:attribute name="estacion" type="xs:string"/>
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>
</xs:schema>