1-Lenguaje_de_marcas/UT6_DTD-XSD/ejercicios/UT6-XSD_materiales1_RMD/okej11/ej11.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="clase" type="tipoClase"/>
    <xs:complexType name="tipoClase">
        <xs:sequence>
            <xs:element name="profesor" type="xs:string"/>
            <xs:element name="aula" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>
</xs:schema>