1-Lenguaje_de_marcas/UT6_DTD-XSD/ejercicios/UT6-XSD_materiales1_RMD/okej7/ej7.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="fruta" type="tipoFruta"/>
    <xs:complexType name="tipoFruta">
        <xs:simpleContent>
            <xs:extension base="xs:string">
                <xs:attribute name="pagado" type="xs:boolean"/>
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>
</xs:schema>