1-Lenguaje_de_marcas/UT6_DTD-XSD/ejercicios/UT6-DTD_materiales_RMD/okej6/ej6.dtd

<!ELEMENT faq (info, part+)>
    <!ELEMENT info (titulo, autor, email?, version, fecha)>
        <!ELEMENT titulo (#PCDATA)>
        <!ELEMENT autor (#PCDATA)>
        <!ELEMENT email (#PCDATA)>
        <!ELEMENT version (#PCDATA)>
        <!ELEMENT fecha (#PCDATA)>
    <!ELEMENT part (q+)>
        <!ELEMENT q (qtext, a)>
            <!ELEMENT qtext (#PCDATA)>
            <!ELEMENT a (#PCDATA)>