1-Lenguaje_de_marcas/UT6_DTD-XSD/ejemplos/XSD/TiposComplejos/complejoAttr.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="puesto" type="tipoPuesto"/>

        <xs:complexType name="tipoPuesto">
            <xs:simpleContent>
                <xs:extension base="xs:string">
                    <xs:attribute name="categoria" type="xs:string"/>
                </xs:extension>
            </xs:simpleContent>
        </xs:complexType>      
</xs:schema>