1-Lenguaje_de_marcas/UT6_DTD-XSD/ejercicios/UT6-XSD_materiales1_RMD/okej4/ej4.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="compra" type="tipoCompra"/>
    <xs:complexType name="tipoCompra">
        <xs:attribute name="nombre" type="xs:string" default="A"/>
        <xs:attribute name="precio" type="xs:decimal" fixed="5"/>
        <xs:attribute name="dni" use="required">
            <xs:simpleType>
                <xs:restriction base="xs:string">
                    <xs:pattern value="\d{8}[A-Za-z]"/>
                </xs:restriction>
            </xs:simpleType>
        </xs:attribute>    
    </xs:complexType>
</xs:schema>