1-Lenguaje_de_marcas/UT6_DTD-XSD/ejercicios/UT6-DTD_materiales_RMD/okej8/ej8.dtd

<!ELEMENT menu (denominacion, precio, fecha?, plato*, bebida)>
    <!ELEMENT denominacion (#PCDATA)>
    <!ELEMENT precio (#PCDATA)>
    <!ELEMENT fecha (#PCDATA)>
    <!ELEMENT plato (entrantes | primero | postre)>
        <!ELEMENT entrantes (#PCDATA)>
        <!ELEMENT primero (#PCDATA)>
        <!ELEMENT postre (#PCDATA)>
    <!ELEMENT bebida EMPTY>